<ion-header>
	<ion-navbar>
		<ion-icon name="menu" menuToggle left style="font-size: 30px;"></ion-icon>
		<ion-title>
			Manage
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>

	<ion-row *ngIf="!isAdmin()" >
		<ion-col>
			<h4>Add admin key to manage calendar</h4>
			<p>You can find your admin key in the original calendar email</p>
		</ion-col>
	</ion-row>

	<ion-row *ngIf="!isAdmin()">
		<ion-col col-9>
			<ion-item>
				<ion-input type="text" [(ngModel)]="adminkey" placeholder="Admin key"></ion-input>
			</ion-item>
		</ion-col>
		<ion-col>
			<button ion-button (click)="authenticate()">Authenticate</button>
		</ion-col>
	</ion-row>
	
	<ion-row *ngIf="isAdmin()" >
		<ion-col>
			<h3>Add single timeslot</h3>
			<p>Add a one-time timeslot</p>
		</ion-col>
		<ion-col>
			<button ion-button (click)="openAddTimeslot()">Add timeslot</button>
		</ion-col>
	</ion-row>
	
	<ion-row *ngIf="isAdmin()" >
		<ion-col>
			<h3>Add rule</h3>
			<p>Add a general rule for timeslots</p>
		</ion-col>
		<ion-col>
			<button ion-button (click)="openAddRule()">Add rule</button>
		</ion-col>
	</ion-row>
	
	<div *ngIf="isAdmin()">
		<ion-list *ngFor="let rule of rules">
			<ion-list-header>
				<h1>Rule {{ rule.start }}</h1>
			</ion-list-header>

			<ion-item>
				Test
			</ion-item>
		</ion-list>
	</div>
</ion-content>
