<ion-header>
	<ion-navbar>
		<ion-icon name="menu" menuToggle left style="font-size: 30px;"></ion-icon>
		<ion-title>
			Manage
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>

	<ion-row *ngIf="!isAdmin()" >
		<ion-col>
			<h4>Add admin key to manage calendar</h4>
			<p>You can find your admin key in the original calendar email</p>
		</ion-col>
	</ion-row>

	<ion-row *ngIf="!isAdmin()">
		<ion-col col-9>
			<ion-item>
				<ion-input type="text" [(ngModel)]="adminkey" placeholder="Admin key"></ion-input>
			</ion-item>
		</ion-col>
		<ion-col>
			<button ion-button (click)="authenticate()">Authenticate</button>
		</ion-col>
	</ion-row>
	
	<ion-row *ngIf="isAdmin()" >
		<ion-col>
			<h3>Calendar key</h3>
			<p>Share this key <b>{{getKey()}}</b></p>
			<p>Or this link <b>www.aborium.com/dateroo?key={{getKey()}}</b></p>
			<p>Or this QR code: <b>TODO</b></p>
		</ion-col>
	</ion-row>
	
	<ion-row *ngIf="isAdmin()" >
		<ion-col>
			<h3>Add single timeslot</h3>
			<p>Add a one-time timeslot</p>
		</ion-col>
		<ion-col>
			<button ion-button (click)="openAddTimeslot()">Add timeslot</button>
		</ion-col>
	</ion-row>
	
	<div *ngIf="isAdmin()">
		<ion-list>
			<h3>Current rules</h3>
			<ion-item *ngFor="let rule of rules | async">
				Every {{getWeekday(rule.weekday)}}, {{rule.slots}} timeslots, {{rule.duration}} minutes each, starting at {{rule.start}}
				<ion-icon item-end>
					<button ion-button color="danger" icon-only (click)="removeRule(rule.$key)">
						<ion-icon name="trash"></ion-icon>
					</button>
				</ion-icon>
			</ion-item>
		</ion-list>
		<ion-col>
			<button ion-button (click)="openAddRule()">Add rule</button>
		</ion-col>
	</div>
</ion-content>
