<ion-header>
	<ion-navbar>
		<ion-icon name="menu" menuToggle left style="font-size: 30px;"></ion-icon>
		<ion-title>
			Manage
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>

	<ion-row *ngIf="!isAdmin()" >
		<ion-col>
			<h4>Add admin key to manage calendar</h4>
			<p>You can find your admin key in the original calendar email</p>
		</ion-col>
	</ion-row>

	<ion-row *ngIf="!isAdmin()">
		<ion-col col-9>
			<ion-item>
				<ion-input type="text" [(ngModel)]="adminkey" placeholder="Admin key"></ion-input>
			</ion-item>
		</ion-col>
		<ion-col>
			<button ion-button (click)="authenticate()">Authenticate</button>
		</ion-col>
	</ion-row>
	
	<ion-row *ngIf="isAdmin()" >
		<ion-col>
			<h3>Share your calendar</h3>
			<p>Share this QR code or link: <b>{{url}}</b></p>
		</ion-col>
	</ion-row>

	<ion-row *ngIf="isAdmin()" >
		<ion-col *ngIf="url">
		    <ngx-qrcode [qrc-value]="url"></ngx-qrcode>
	  	</ion-col>
	</ion-row>
	<ion-row *ngIf="isAdmin()" >
		<ion-col>
			<p>Or this key: <b>{{getKey()}}</b></p>
	  	</ion-col>
	</ion-row>
	
	<ion-row *ngIf="isAdmin()" >
		<ion-col>
			<h3>Create new entries</h3>
		</ion-col>
	</ion-row>
	
	<ion-row *ngIf="isAdmin()" >
		<ion-col>
			<button ion-button (click)="openAddTimeslot()">Add single timeslot</button>
		</ion-col>
	</ion-row>
	
	<ion-row *ngIf="isAdmin()">
		<ion-col>
			<button ion-button (click)="openAddRule()">Add bulk timeslot</button>
		</ion-col>
	</ion-row>
</ion-content>
