<ion-menu [content]="mycontent">

    <ion-content>
        <ion-list>
             <button *ngIf="calendarIsLoaded()" ion-item menuClose (click)="openPage(datesPage)">
                View
            </button>
             <button *ngIf="calendarIsLoaded()" ion-item menuClose (click)="openPage(bookPage)">
                Manage
            </button>
             <button ion-item menuClose (click)="openPage(calendarsPage)">
                Calendars
            </button>
            <!--<button *ngIf="calendarIsLoaded()" ion-item menuClose (click)="openPage(settingsPage)">
                Settings
            </button>-->
        </ion-list>
    </ion-content>

</ion-menu>

<ion-nav #mycontent [root]="rootPage"></ion-nav>