<ion-header>
	<ion-navbar>
		<ion-icon name="menu" menuToggle left></ion-icon>
		<ion-title>
			Home
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	
	<ion-list *ngIf="displayDay(0)">
		<ion-list-header>
		  <h1>{{getDayName(day0.$ref)}}</h1>
		</ion-list-header>

		<ion-item *ngFor="let entry of day0 | async">
			<ion-note item-start>14:00 - 14:30</ion-note>
			<h2>{{getEntry(0, entry.$key).title | async}}</h2>
			<p>{{entry.$key}}</p>
		</ion-item>
	</ion-list>
	
</ion-content>