<ion-header>
	<ion-navbar>
		<ion-icon name="menu" menuToggle left style="font-size: 30px;"></ion-icon>
		<ion-title>
			View
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-row>
		<ion-col>
		</ion-col>
		<ion-col>
			<h4>{{getFromDate()}} - {{getToDate()}}</h4>
		</ion-col>
		<ion-col>
		</ion-col>
	</ion-row>
	
	<p *ngIf="days.length == 0">No entries in this timeframe</p>

	<ion-list *ngFor="let day of days">
		<ion-list-header>
		  <h1>{{ day[0] }}</h1>
		</ion-list-header>

		<ion-item *ngFor="let entry of day[1] | async">
			<ion-note item-start>{{entry.from}} - {{entry.until}}</ion-note>
			<ion-note item-start *ngIf="entry.used">{{getPersonName(entry.person)}}</ion-note>
			<div *ngIf="entry.used">
				<h2 *ngIf="isAdmin()">{{entry.title}}</h2>
				<p *ngIf="isAdmin()">{{entry.description}}</p>
				<h2 *ngIf="!isAdmin()">Booked</h2>
			</div>
			<div *ngIf="entry.used == null">
				<h2>Free</h2>
				
			</div>
			<ion-note *ngIf="entry.used == null" item-end><button ion-button (click)="book(entry)">Book</button></ion-note>
		</ion-item>
	</ion-list>
	
	<ion-row>
		<ion-col>
			<button ion-button [disabled]="dayOffset <= 0" (click)="goBackward()">Back</button>
		</ion-col>
		<ion-col>
			<button ion-button (click)="goForward()">Next</button>
		</ion-col>
	</ion-row>
	
</ion-content>