<ion-header>
	<ion-navbar>
		<ion-icon name="menu" menuToggle left></ion-icon>
		<ion-title>
			Dates
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>

	<h2 *ngIf="days.length == 0">No entries in this timeframe</h2>

	<ion-list *ngFor="let day of days">
		<ion-list-header>
		  <h1>{{ day[0] }}</h1>
		</ion-list-header>

		<ion-item *ngFor="let entry of day[1] | async">
			<ion-note item-start>{{entry.from}} - {{entry.until}}</ion-note>
			<ion-note item-start>{{entry.person}}</ion-note>
			<div *ngIf="entry.used">
				<h2>{{entry.title}}</h2>
				<p>{{entry.description}}</p>
			</div>
			<div *ngIf="entry.used == null">
				<h2>Free</h2>
			</div>
		</ion-item>
	</ion-list>
	
</ion-content>