<ion-header>
	<ion-navbar>
		<ion-icon name="menu" menuToggle left></ion-icon>
		<ion-title>
			Calendars
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<p>A list of configured calendars. Select a calendar to activate it.</p>
	
	<ion-list>
		<ion-item-sliding *ngFor="let calendar of calendars">
			<ion-item>
				<ion-icon *ngIf="calendar[0] == currentCalendarName()" name="checkmark" item-start></ion-icon>
				<ion-icon (click)="selectCalendar(calendar[0])" *ngIf="calendar[0] != currentCalendarName()" name="radio-button-off" item-start></ion-icon>
				<h2>{{ calendar[1] }}</h2>
				<p>{{ calendar[2] }}</p>
				<ion-icon *ngIf="isAdmin()" name="key" item-end></ion-icon>
				<ion-icon item-end>
					<button ion-button color="danger" icon-only (click)="removeCalendar(calendar[0])">
						<ion-icon name="trash"></ion-icon>
					</button>
				</ion-icon>
			</ion-item>
		</ion-item-sliding>
	</ion-list>
	
	<h3>Create a new calendar</h3>
	
	<ion-row>
		<ion-col col-9>
			<ion-item>
				<ion-input type="text" [(ngModel)]="newCalendarName" placeholder="Calendar name"></ion-input>
				<ion-input type="text" [(ngModel)]="newCalendarDescription" placeholder="Calendar description"></ion-input>
			</ion-item>
		</ion-col>
		<ion-col>
			<button ion-button (click)="addCalendar()">Add!</button>
		</ion-col>
	</ion-row>
	
	<h3>Add existing calendar</h3>
	<p>Add an existing calendar by providing the id</p>
	<ion-row>
		<ion-col col-9>
			<ion-item>
				<ion-input type="text" [(ngModel)]="existingCalenderId" placeholder="Calendar id"></ion-input>
			</ion-item>
		</ion-col>
		<ion-col>
			<button ion-button (click)="addExistingCalender()">Add!</button>
		</ion-col>
	</ion-row>
</ion-content>
